.manage-product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.product-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}
.table-container {
    width: 100%;
}
th,
td {
    font-size: 20px;
    padding: 10px 10px;
}
td {
    font-weight: 500;
}
th:first-child {
    text-align: left;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}
thead tr {
    background: #eeeded;
    border-radius: 8px;
}
