.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
