* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f8ede4;
}
.mt-5 {
    margin-top: 60px !important;
}
.btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
.btn-primary {
    background: #1480b2;
    color: #fff;
    transition: all 0.3s ease;
}
.btn-primary:hover {
    background: #1c93ca;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.loading-spinner {
    display: block;
    width: 250px;
    margin: 100px auto;
}
.order-confirm {
    color: #57cc4d;
    text-align: center;
    margin-top: 60px;
}
